---
dateUpdate: '25 March 2020'
cases: '399,946'
deaths: '16,000'
countries:
  - name: Italy
    cases: '+5,210'
  - name: China
    cases: '+47'
  - name: Spain
    cases: '+5,552'
  - name: Iran
    cases: '+2,206'
  - name: USA
    cases: '+7,996'
  - name: Germany
    cases: '+7,996'
---

<p><em>{{ dateUpdate }}</em></p>

<p><strong>{{ cases }}</strong> confirmed cases and <strong>{{ deaths }}</strong> deaths. These numbers are still increasing.</p>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th style="text-align: right">Cases</th>
    </tr>
  </thead>
  <tbody>
{% for country in countries %}
    <tr>
      <td>{{ country.name }}</td>
      <td style="text-align: right"><strong>{{ country.cases }}</strong></td>
    </tr>
{% endfor %}
  </tbody>
</table>
