<footer class="p-strip--footer p-strip--dark is-shallow is-dark">
  <div class="row">
    <div class="col-10">
        <nav>
          <ul class="p-inline-list u-no-max-width">
            <li class="p-inline-list__item">
              <img src="/assets/images/endcoronavirus_logo.svg" alt="endcoronavirus.com" width="180px">
            </li>
            <li class="p-inline-list__item">
              <a href="/updates/" class="p-link--inverted">Updates</a>
            </li>
            <li class="p-inline-list__item">
              <a href="/map/" class="p-link--inverted">Map</a>
            </li>
            <li class="p-inline-list__item">
              <a href="/guidelines/" class="p-link--inverted">Guidelines</a>
            </li>
            <li class="p-inline-list__item">
              <a href="/faq/" class="p-link--inverted">FAQ</a>
            </li>
            <li class="p-inline-list__item">
              <a href="/about/" class="p-link--inverted">About</a>
            </li>
            <li class="p-inline-list__item">
              <a href="/sign-up/" class="p-link--inverted">Join us</a>
            </li>
          </ul>
          <span class="u-off-screen">
            <a href="#">Go to the top of the page</a>
          </span>
      </nav>
    </div>
    <div class="col-2 u-align--right">
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
            <a href="https://www.facebook.com/endcoronavirus.org" class="p-icon--facebook"></a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://twitter.com/endCOVID19" class="p-icon--twitter"></a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.youtube.com/channel/UCGtLsESuhjZOfPa6SWq61Cg/featured" class="p-icon--youtube"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p class="u-no-max-width">Copyright © 2020 NECSI</p>
  </div>
</footer>
