<!-- banner -->
<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row u-fixed-width">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="{{ base_url }}" accesskey="1" title="End Corona Virus">
          <img src="/assets/images/endcoronavirus_logo.svg" alt="endcoronavirus.com">
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li class="p-navigation__link {% if page.url contains '/updates' %}is-selected{% endif %}" role="menuitem">
          <a href="{{ base_url }}updates/">Updates</a>
        </li>
        <li class="p-navigation__link {% if page.url contains '/map' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ base_url }}map/">Map</a>
        </li>
        <li class="p-navigation__link {% if page.url contains '/guidelines' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ base_url }}guidelines/">Guidelines</a>
        </li>
        <li class="p-navigation__link {% if page.url contains '/faq' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ base_url }}faq/">FAQ</a>
        </li>
        <li class="p-navigation__link {% if page.url contains '/about' %}is-selected{% endif %}" role="menuitem">
            <a href="{{ base_url }}about/">About</a>
        </li>
      </ul>

      <ul class="p-navigation__items" role="menu">
        <li class="p-navigation__item p-subnav" role="menuitem" id="link-1">
          <a href="#link-1-menu" aria-controls="link-1-menu" class="p-subnav__toggle p-navigation__link">Languages</a>
          <ul class="p-subnav__items" id="link-1-menu" aria-hidden="true">
            {% for language_hash in site.data.languages %}
              {% assign language = language_hash[1] %}
              <li><a href="/{% if language.code != 'en' %}{{ language.code }}{% endif %}" class="p-subnav__item">{{ language.language }}</a></li>
            {% endfor %}
            <li><a href="https://ru.endcoronavirus.org/" class="p-subnav__item">русский</a></li>
            <li><a href="https://pt.endcoronavirus.org/" class="p-subnav__item">Português</a></li>
            <li><a href="https://nl.endcoronavirus.org/" class="p-subnav__item">Nederlands</a></li>
            <li><a href="http://fr.endcoronavirus.org/" class="p-subnav__item">Français</a></li>
          </ul>
        </li>
      </ul>


    </nav>
  </div>
</header>
