<!-- banner -->
<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row u-fixed-width">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo">
        <a
          class="p-navigation__link"
          href="/"
          accesskey="1"
          title="End Corona Virus"
        >
          endcoronavirus
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu"
        >Menu</a
      >
      <a
        href="#navigation-closed"
        class="p-navigation__toggle--close"
        title="close menu"
        >Close menu</a
      >
    </div>
    <nav class="p-navigation__nav" role="menubar">
      <span class="u-off-screen">
        <a href="#main-content">Jump to main content</a>
      </span>
      <ul class="p-navigation__links" role="menu">
        <li
          class="p-navigation__link {% if page.url contains '/updates/' %}is-selected{% endif %}"
          role="menuitem"
        >
          <a href="/updates/">Updates</a>
        </li>
        <li
          class="p-navigation__link {% if page.url contains '/map/' %}is-selected{% endif %}"
          role="menuitem"
        >
          <a href="/map/">Map</a>
        </li>
        <li
          class="p-navigation__link {% if page.url contains '/guidelines/' %}is-selected{% endif %}"
          role="menuitem"
        >
          <a href="/guidelines/">Guidelines</a>
        </li>
        <li
          class="p-navigation__link {% if page.url contains '/faq/' %}is-selected{% endif %}"
          role="menuitem"
        >
          <a href="/faq/">FAQ</a>
        </li>
        <li
          class="p-navigation__link {% if page.url contains '/about/' %}is-selected{% endif %}"
          role="menuitem"
        >
          <a href="/about/">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
