|Response Protocol|Green|Yellow|Orange|Red|
| :---------------|----|----|----|----|
|Raise public awareness, including disease transmission mechanisms and avoidance (social distancing, hand washing, masks)|✓|✓|✓|✓|
|Develop rapid response process to test domestic citizens for related symptoms.|✓|✓|✓|✓|
|Perform quick tests at borders of individuals travelling from Yellow or Orange Zones to identify symptomatic individuals (fever, cough). Passengers entering from the same vehicle (airplane, train, bus, car) should be detained for the result. If positive, enforce 14 day quarantine of the confirmed case, and of other passengers and crew (individually or in small groups)|✓|✓|✓|✓|
|Enforce 14 day quarantine for individuals who are likely to have had contact with infected individuals, including all travellers from Red Zones.|✓|✓|✓|✓|
|Identify contacts of confirmed cases (contact tracing), and test, monitor and/or self-isolate them.| |✓|✓|✓|
|Promote personal protection including social distancing, hand washing, sneeze etiquette| |✓|✓|✓|
|Frequently monitor the health condition of a selected group of people with frequent social contact, especially in the area where local transmission is detected, for early case and outbreak detection| |✓|✓|✓|
|Urge citizens to avoid non-essential gatherings, especially in confined spaces| |✓|✓|✓|
|Provide maximum protection for medical staff| |✓|✓|✓|
|Promote personal protection including facial masks| | |✓|✓|
|Postpone/cancel non-essential gatherings and events| | |✓|✓|
|Disinfect public places| | |✓|✓|
|Actively test everyone with symptoms| | |✓|✓|
|Increase test capacity and speed| | |✓|✓|
|Suspend schools, places of worship and businesses| | | |✓|
|Restrict travel only for essential purposes| | | |✓|
|Lock-down (quarantine) infected communities keeping people in their homes and delivering necessities to them without contact| | | |✓|
|Quarantine contacts of cases| | | |✓|
|Galvanize national resources (medical, logistical...) for the quarantined areas| | | |✓|
|Separate facilities for infection cases from other health services| | | |✓|
|Create different tiers of hospitals to separate and treat cases of different severity| | | |✓|
