<ul class="p-navigation__links u-hide js-show-nav" role="menu">
  <li class="p-navigation__dropdown-link" role="menuitem" id="enterprise" onmouseover="fetchDropdown('/templates/_navigation-faq', 'faq-content'); this.onmouseover = null;">
    <a class="p-navigation__link-anchor" href="#faq-content" onfocus="fetchDropdown('/templates/_navigation-faq', 'faq-content');">All questions</a>
  </li>
</ul>

<div class="dropdown-window__content u-no-padding--top u-no-padding--bottom">
  <div class="p-strip is-x-shallow u-no-padding--bottom">
    <div class="row">

      <h4 class="p-card__title">All questions</h4>
  <ul class="p-card__content">
    {% for faq in site.faq %}
    {% if faq.title != "FAQ" %}
    <li>
      <a href="#{{ faq.url }}">
        {{ faq.title }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
