<div class="row">
  <div class="u-fixed-width">
    <ul class="p-accordion__list u-no-margin--bottom">
      <li class="p-accordion__group">
        <section class="p-accordion__panel u-no-padding--left" id="tab1-panel" role="tabpanel" aria-hidden="true" aria-labelledby="tab1">
          <ul class="p-list is-split">
            {% for faq in site.faq %}
            {% if faq.title != "Frequently asked questions" %}
            <li><a class="p-list__item p-link--inverted js-close-nav" href="#{{ faq.url }}">{{ faq.title }}</a></li>
            {% endif %}
            {% endfor %}
          </section>
        </li>
      </ul>
    </div>
  </div>
