@mixin endcoronavirus-typography {
  li {
    max-width: calc(40em - 2rem);
  }

  h1 {
    font-size: 37px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    letter-spacing: -1px;
  }

  strong {
    font-weight: 600;
  }

  .p-header--stylised {
    color: $color-brand;
  }

  .p-heading--hero {
    font-size: 72px;
    line-height: 1.2;
  }
}
