@mixin endcoronavirus-buttons {
  .p-button-panel {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    width: calc(100% + 2rem - 1px);
    display: block;
    background: $color-x-dark;
    color: $color-x-light;
    margin: 0 -1rem -1rem;
  }
}