@mixin endcoronavirus-buttons {
  .p-button-panel {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    width: calc(100% + 2rem - 1px);
    display: block;
    background: $color-x-dark;
    color: $color-x-light;
    margin: 0 -1rem -1rem;

    &:visited {
      color: $color-x-light;
    }
  }

  .p-button--neutral {
    @extend %vf-button-base;

    @include vf-button-pattern(
      $button-background-color: $color-x-light,
      $button-border-color: $color-x-light,
      $button-text-color: $color-brand,
      $button-hover-background-color: lighten($color-brand, 60%),
      $button-hover-border-color: lighten($color-brand, 60%),
      $button-disabled-background-color: $color-x-light,
      $button-disabled-border-color: $color-x-light,
      $button-active-background-color: lighten($color-brand, 60%),
      $button-active-border-color: lighten($color-brand, 60%)
    );
  }
}