@mixin endcoronavirus-p-card {
  .p-card {
    padding-top: 2rem;
  }

  .p-card--light {
    @extend %vf-card;

    background-color: $color-mid-x-light;
    border: none;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
  }
}