@mixin endcoronavirus-secondarynavigation {
  @include vf-p-accordion;

  .p-secondary-nav {
    @media only (min-width: $breakpoint-medium) {
      position: sticky;
      top: 91px;
      z-index: 10;
    }
  }

  .p-accordion__tab {
    background-position: top 50% right 1rem;
    color: $color-x-light;
    margin-top: 1.2rem;

    &:focus {
      outline: .1875rem solid #eee;
      outline-offset: -.1875rem;
    }

    &:hover {
      background-color: #d21348;
      outline: .1875rem solid #eee;
      outline-offset: -.1875rem;
    }
  }

  .p-accordion__tab[aria-expanded='false'] {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='9' width='9'%3E%3Cg fill='%23fff' fill-rule='evenodd'%3E%3Cpath d='M4 0h1v9H4z'/%3E%3Cpath d='M0 5V4h9v1z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .p-accordion__tab[aria-expanded='true'] {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='9' width='9'%3E%3Cpath d='M0 5V4h9v1z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}
