$font-base-family: '"Noto Sans", sans-serif';
$color-brand: #a30f44;
$color-accent: $color-brand;
$color-link: #303c95;
$color-navigation-background: #333;
$breakpoint-navigation-threshold: 900px;
$tip-color: #999999;
$grid-max-width: 65rem;