@mixin endcoronavirus-utilities {
  .u-touch--top {
    @media only (min-width: $breakpoint-small) {
      margin-top: -1.5rem;
    }
  }
  .u-touch--top-extra {
    @media only (min-width: $breakpoint-large) {
      margin-top: -140px;
    }
    @media only (min-width: $breakpoint-x-large) {
      margin-top: -155px;
    }
  }

  .u-no-border {
    border: 0;
    border-radius: 0;
    overflow: hidden;
  }
}
