@charset "UTF-8";

@import "settings";
@import "vanilla-framework/scss/vanilla";
@include vanilla;

@import "utilites";
@include endcoronavirus-utilities;

@import "b-typography";
@include endcoronavirus-typography;

@import "p-navigation";
@include endcoronavirus-navigation;

@import "p-secondarynav";
@include endcoronavirus-secondarynavigation;

@import "p-strip";
@include endcoronavirus-strips;

@import "p-buttons";
@include endcoronavirus-buttons;

@import "p-tip";
@include endcoronavirus-p-tip;

@import "p-card";
@include endcoronavirus-p-card;

/* Fix max-width bug in vanilla - lists should match paragraphs */
ul,
ol {
  max-width: 39em;
}
